.about {
    @apply flex flex-col min-h-[var(--app-height)];
}

.main-content {
    @apply flex flex-1 px-12 py-10 justify-center;
}

.leftDiv {
    @apply flex flex-col items-center mr-16 min-w-[300px];
}

.name {
    font-family: 'Bebas Neue', cursive;
    @apply text-[#E5C34D] text-[55px];
}

.profilePic {
    @apply rounded-3xl max-h-[350px] mb-5 mt-4;
}

.age {
    font-family: 'Libre Caslon Text', serif;
    @apply text-white text-xl;
}

.flag {
    @apply max-w-[45px];
}

.rightDiv {
    @apply flex flex-col max-w-[1100px] pt-24;
}

.rightDiv p {
    font-family: 'Libre Caslon Text', serif;
    @apply text-justify text-white text-base mb-4
}

.spanRed {
    @apply text-[#FF7070] underline;
}

.rightDiv h3 {
    font-family: 'Catamaran', sans-serif;
    @apply text-[#E5C34D] text-xl mt-2
}

.technologies {
    @apply flex flex-col mt-2
}

.outside {
    border: 0.5px solid #FFF;
    @apply w-full bg-[#fff] rounded-md mb-2.5
}

.inside {
    @apply bg-[#0c0c0c] rounded-md text-white text-[15px] py-1 px-3
}

.bottomDiv {
    @apply flex justify-center items-end pb-5;
}

.bottomMid {
    @apply w-10/12;
}

.bottomLeft {
    @apply w-1/12;
}

.bottomRight {
    @apply w-1/12 flex justify-center;
}

.bottomRight a {
    @apply flex flex-col items-center;
}

.bottomRight p {
    font-family: 'Cormorant SC', serif;
    @apply text-[#E5C34D] text-xl pt-2;
}

.bottomMid a {
    @apply flex justify-center;
}

.bottomMid p {
    font-family: 'Cormorant SC', serif;
    @apply text-white text-2xl text-center;
}

.bounce {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 720px) {
    .bottomRight {
        @apply pr-6;
    }
}

@media (max-width: 600px) {
    .bottomRight a {
        @apply hidden;
    }
}