<section class="about">
    <div class="topDiv">
        <div class="topLeft">
            <p>Ricardo Oliveira</p>
            <div class="profile"><img src="../../assets/images/general/avatar_300w.png" alt="Ricardo"></div>            
            <p> Years Old</p>
            <img src="../../assets/images/general/portugal_50w.png" alt="Portuguese Flag">
        </div>
        <div class="topRight">

        </div>
    </div>

    <!--
    <div class="bottomDiv">
        <div class="bottomLeft"></div>
        <div class="bounce">
            <p>Experience</p>
            <a href=""><img src="../../assets/images/icons/down-arrow.png" alt="Scroll Down"></a>
        </div>
        <div></div>
    </div>-->
</section>
