@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran&family=Libre+Caslon+Text&display=swap');

.about {
    @apply flex flex-col min-h-[var(--app-height)];
}

.main-content {
    @apply flex flex-1 px-12 py-10 justify-center;
}

.leftDiv {
    @apply flex flex-col items-center mr-16 min-w-[300px];
}

.name {
    font-family: 'Bebas Neue', cursive;
    @apply text-[#E5C34D] text-[55px];
}

.profilePic {
    @apply rounded-3xl max-h-[350px] mb-5 mt-4;
}

.age {
    font-family: 'Libre Caslon Text', serif;
    @apply text-white text-xl;
}

.flag {
    @apply max-w-[45px];
}

.rightDiv {
    @apply flex flex-col max-w-[1100px] pt-24;
}

.rightDiv p {
    font-family: 'Libre Caslon Text', serif;
    @apply text-justify text-white text-base mb-4
}

.spanRed {
    @apply text-[#FF7070] underline;
}

.rightDiv h3 {
    font-family: 'Catamaran', sans-serif;
    @apply text-[#E5C34D] text-xl mt-2
}

.technologies {
    @apply flex flex-col mt-2
}

.outside {
    border: 0.5px solid #FFF;
    @apply w-full bg-[#fff] rounded-md mb-2.5
}

.inside {
    @apply bg-[#0c0c0c] rounded-md text-white text-[15px] py-1 px-3
}