<section class="about" [@fadeIn]>
    <div class="main-content">
        <div class="leftDiv">
            <p class="name">Ricardo Oliveira</p>
            <img class="profilePic" src="../../assets/images/general/profile.jpg" alt="Ricardo's profile">
            <p class="age">{{getAge()}} Years Old</p>
            <img class="flag" src="../../assets/images/general/portugal.png" alt="Portuguese Flag">
        </div>
        <div class="rightDiv">
            <div>
                <p>Programming enthusiast, I recently completed my degree as a <span class="spanYellow">Software Engineer</span> at Polytechnic Institute of Setúbal and started my first professional experience.</p>
                <p>This coding passion began when I was 16, I started teaching myself by watching small courses and practicing basic functionalities. This was before I went to college, where I learned the art of programming and studied many technologies.</p>
                <p>In my spare time, I prioritize my <span class="spanBlue">personal development</span> by working on projects that will help me improve my technical skills.</p>
                <p>Aside from technology, I am a passionate <span class="spanRed">football</span> fan and <span class="spanGreen">hip-hop</span> music lover</p>
            </div>            
        </div>
    </div>
    <div class="bottomDiv">
        <div class="bottomLeft"></div>
        <div class="bounce bottomMid">
            <p>Contacts</p>
            <a (click)="nextSection()"><img src="../../assets/images/icons/down-arrow.png" alt="Scroll Down"></a>
        </div>
        <div class="bottomRight">
            <a (click)="home()"><i class="fa-solid fa-angles-up fa-xl" style="color: #E5C34D;"></i>
                <p>Top</p>
            </a>
        </div>
    </div>
</section>