<section id="AboutSection" class="about">
    <div class="topDiv">
        <div class="topDivLeft">
            <p class="name">Ricardo Oliveira</p>
        </div>
        <div class="topDivRight"></div>
    </div>
    <div class="midDiv">
        <div class="midCenter">
            <div class="midLeft">
                <div class="profilePic"><img src="../../assets/images/general/profile_300w.png" alt="Ricardo"></div>            
                <p class="age">{{getAge()}} Years Old</p>
                <img class="flag" src="../../assets/images/general/portugal_45w.png" alt="Portuguese Flag">
            </div>
            <div class="midRight">
                <p>Programming enthusiast, I recently completed my degree as a <span class="spanYellow">Software Engineer</span> at Polytechnic Institute of Setúbal and started my first professional experience.</p>
                <p>This coding passion began when I was 16, I started teaching myself by watching small courses and practicing basic functionalities. This was before I went to college, where I learned the art of programming and studied many technologies.</p>
                <p>In my spare time, I prioritize my <span class="spanBlue">personal development</span> by working on projects that will help me improve my technical skills.</p>
                <p>Aside from technology, I am a passionate <span class="spanRed">football</span> fan and <span class="spanGreen">hip-hop</span> music lover</p>
            </div>
            <div class="shortAbout">
                <p>I started teaching myself by watching small courses and practicing basic functionalities.</p>
                <p>Programming enthusiast, I recently completed my degree as a <span class="spanYellow">Software Engineer</span></p>
                <p>In my spare time, I prioritize my <span class="spanBlue">personal development</span> by working on my projects</p>
                <p>I am a passionate <span class="spanRed">football</span> fan and <span class="spanGreen">hip-hop</span> music lover</p>
            </div>
        </div>        
    </div>
    <app-scroll-down [nextSection]="nextSection"></app-scroll-down>
</section>
