/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

.about {
    @apply flex flex-col min-h-[var(--app-height)];
}

.topDiv {
    @apply flex pt-8;
}

.topDivLeft {
    @apply flex justify-center items-center w-1/3;
}

.topDivLeft p {
    font-family: 'Bebas Neue', cursive;
    @apply text-[#E5C34D] text-[55px];
}

.topDivRight {
    @apply w-2/3;
}

.midDiv {
    @apply flex flex-1 items-center pb-4;
}

.midCenter {
    @apply flex;
}

.midLeft {
    @apply w-1/3 flex flex-col items-center;
}

.profilePic {
    @apply flex items-end justify-center;
}

.profilePic img {
    @apply rounded-[32px];
}

.age {
    font-family: 'Libre Caslon Text', serif;
    @apply text-white text-xl pt-7 pb-4;
}

.midRight {
    @apply w-2/3 flex flex-col pr-24;
}

.midRight p {
    font-family: 'Libre Caslon Text', serif;
    @apply text-white text-xl text-justify pb-8;
}

.spanYellow {
    @apply text-[#E5C34D]
}

.spanBlue {
    @apply text-[#00B0FB]
}

.spanRed {
    @apply text-red-600
}

.spanGreen {
    @apply text-[#32EE9F]
}

.bottomDiv {
    @apply flex justify-center items-end pb-5;
}

.bottomMid {
    @apply w-10/12; 
}

.bottomLeft {
    @apply w-1/12; 
}

.bottomRight {
    @apply w-1/12 flex justify-center; 
}

.bottomRight a{
    @apply flex flex-col items-center; 
}

.bottomRight p{
    font-family: 'Cormorant SC', serif;
    @apply text-[#E5C34D] text-xl pt-2;
}

.bottomMid a {
    @apply flex justify-center;
}

.bottomMid p{
    font-family: 'Cormorant SC', serif;
    @apply text-white text-2xl text-center;
}

.bounce {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}







