<app-success-alert *ngIf="successAlert"></app-success-alert>
<app-error-alert *ngIf="errorAlert"></app-error-alert>
<app-sending *ngIf="loading"></app-sending>
<section class="contacts" [@fadeIn]>
    <div class="content">
        <div class="header">
            <h1>Contact</h1>
            <div class="socials">
                <button (click)="downloadResume()">
                    <i class="fa-solid fa-file-arrow-down fa-lg" style="color: #A1A1A1;"></i>
                    <p>Resume</p>
                </button>
                <a href="https://www.linkedin.com/in/ricardo5oliveira" target="_blank" rel="noopener noreferrer">
                    <img src="https://ik.imagekit.io/ricardo5ro/socials/linkedin.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159821756" alt="LinkedIn Icon">
                </a>
                <a href="https://github.com/ricardoliveira5ro" target="_blank" rel="noopener noreferrer">
                    <img src="https://ik.imagekit.io/ricardo5ro/socials/github.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159821639" alt="GitHub Icon">
                </a>
            </div>
        </div>
        <form [formGroup]="FormData" autocomplete="off" (ngSubmit)="onSubmit(FormData)">
            <div class="form">
                <div class="inputs">
                    <label for="Name">Name</label>
                    <input type="text" name="Name" placeholder="Enter your name" formControlName="Name">
                </div>
                <div class="inputs">
                    <label for="EmailAddress">Email</label>
                    <input type="email" name="EmailAddress" placeholder="Enter your email" formControlName="EmailAddress">
                </div>
                <div class="inputs">
                    <label for="Message">Message</label>
                    <textarea formControlName="Message" name="Message"></textarea>
                </div>
                <div class="footer">
                    <button class="invalidButton" type="submit" [disabled]="!FormData.valid" [ngClass]="{'ng-invalid': FormData.invalid}">Submit</button>
                    <a (click)="home()">
                        <p>Go Back Home</p>
                        <img class="arrowIcon" src="https://ik.imagekit.io/ricardo5ro/icons/long-right-arrow.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820208" alt="Arrow Icon">
                    </a>
                </div>                
            </div>
        </form>
    </div>
</section>