.experience {
    @apply flex flex-col min-h-[var(--app-height)] mb-20;
}

.divExperience {
    @apply flex flex-col pl-8;
}

.divExperience h1 {
    font-family: 'Bebas Neue', cursive;
    @apply text-[#E5C34D] text-5xl px-1 pt-8;
}

.timeline {
    @apply flex;
}

.line {
    width: 90%;
    @apply flex bg-gray-200 h-0.5 ;
}

.timeline ol {
    @apply flex;
}

.timeline li {
    @apply relative py-6 px-2;
}

.timelineDesign {
    @apply flex items-center;
}

.ringIcon {
    @apply flex z-10 justify-center items-center w-11 h-11 rounded-full ring-white bg-white;
}

.timelineText {
    @apply mt-5 pr-8;
}

.timelineText h3 {
    @apply text-lg font-semibold text-white;
}

.timelineText time {
    @apply block mb-2 text-sm font-normal leading-none text-gray-400;
}

.timelineText p {
    @apply text-base font-normal text-gray-50 text-justify;
}

.divCertifications {
    @apply flex flex-col pl-8;
}

.divCertifications h2 {
    font-family: 'Bebas Neue', cursive;
    @apply text-white text-4xl px-2 pt-4;
}

.certificationsList {
    @apply px-2;
}

.divCertifications ol {
    @apply py-3 flex flex-wrap;
}

.divCertifications li {
    @apply flex items-center px-3 py-2 bg-[#545454] w-fit rounded-xl mr-7 mb-4;
}

.certificationText {
    @apply px-3 py-2
}

.certificationTitle {
    font-family: 'Libre Caslon Text', serif;
    @apply text-white pb-1;
}

.certificationDescription {
    font-family: 'Montserrat', sans-serif;
    @apply text-white text-xs;
}

.divResume {
    @apply flex flex-1 px-10 pt-3;
}

.divResume button {
    @apply bg-black w-fit h-fit flex items-center justify-center p-3 border rounded-xl;
}

.divResume p {
    @apply text-white text-xl pl-2;
}

.bottomDiv {
    @apply flex justify-center items-end pb-5;
}

.bottomMid {
    @apply w-10/12; 
}

.bottomLeft {
    @apply w-1/12; 
}

.bottomRight {
    @apply w-1/12 flex justify-center; 
}

.bottomRight a{
    @apply flex flex-col items-center; 
}

.bottomRight p{
    font-family: 'Cormorant SC', serif;
    @apply text-[#E5C34D] text-xl pt-2;
}

.bottomMid a {
    @apply flex justify-center;
}

.bottomMid p{
    font-family: 'Cormorant SC', serif;
    @apply text-white text-2xl text-center;
}

.bounce {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@media (max-width: 720px) {
    .bottomRight {
        @apply pr-6;
    }
}

@media (max-width: 600px) {
    .bottomRight a {
        @apply hidden;
    }
}