<section id="ExperienceSection" class="experience" [@fadeIn]>
    <div class="divExperience">
        <h1>Experience</h1>
        <div class="timeline">
            <ol>
                <li *ngFor="let experience of experienceList">
                    <div class="timelineDesign">
                        <div class="ringIcon">
                            <i *ngIf="isEducation(experience)" class="fa-solid fa-user-graduate fa-xl" style="color: #181A1B;"></i>
                            <i *ngIf="isJob(experience)" class="fa-solid fa-laptop-code fa-xl" style="color: #181A1B;"></i>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="timelineText">
                        <h3>{{ experience.title }}</h3>
                        <time>{{ experience.startDate }} - {{ experience.endDate }}</time>
                        <p>{{ experience.description }}</p>
                    </div>
                </li>                
            </ol>
        </div>
    </div>
    <div class="divCertifications">
        <h2>Certificates</h2>
        <div class="certificationsList">
            <ol>
                <li *ngFor="let certification of certificationList">
                    <a href='{{ certification.url }}' target="_blank" rel="noopener noreferrer">
                        <div>
                            <img src='{{ certification.imageURL }}' alt="">
                        </div>
                        <div class="certificationText">
                            <p class="certificationTitle">{{ certification.title }}</p>
                            <p class="certificationDescription">{{ certification.completedDate }}, by {{ certification.authBy }}</p>
                        </div>
                    </a>                    
                </li>
            </ol>
        </div>
    </div>
    <div class="divResume">
        <button (click)="downloadResume()">
            <i class="fa-solid fa-file-arrow-down fa-xl" style="color: #898989;"></i>
            <p>Résumé</p>
        </button>
    </div>
    <app-scroll-down [nextSection]="nextSection"></app-scroll-down>
</section>