
    <header class="header">
      <img class="logo" src="../assets/images/logo/100x100.png" alt="Ricardo's Logo">
      <nav class="navbar">
        <a href="#">About</a>
        <a href="#">Experience</a>
        <a href="#">Projects</a>
        <a href="#">Contacts</a>
      </nav>
    </header>
    <main class="homeMain">
      <div class="homeLeftDiv"></div>
      <article class="homeCenterContent">
        <div class="homeTextDiv">
          <div>
            <p class="presentationText">Hello, I'm</p>
            <p class="nameText">Ricardo Oliveira</p>
            <p class="sofwareEngineerText">isSoftwareEngineer()</p>
          </div>
          <img class="homeImg" src="../assets/images/general/home_300x300.png" alt="Home Design">
        </div>
        <section class="homeSlogan">
          <p>&#60; A Programmer that turns coffee into code /&#62;</p>
        </section>
      </article>
      <aside class="homeSocials">
        <ul class="socialsList">
          <a href="https://www.instagram.com/ricardo.oliveira5/" target="_blank" rel="noopener noreferrer">
            <li><i class="fa-brands fa-square-instagram fa-xl"></i></li>
          </a>
          <a href="https://www.linkedin.com/in/ricardo5oliveira" target="_blank" rel="noopener noreferrer">
            <li><i class="fa-brands fa-linkedin fa-xl"></i></li>
          </a>
          <a href="https://github.com/ricardoliveira5ro" target="_blank" rel="noopener noreferrer">
            <li><i class="fa-brands fa-github fa-xl"></i></li>
          </a>
          <a href="mailto:ricardoliveira5ro@gmail.com" target="_blank" rel="noopener noreferrer">
            <li><i class="fa-solid fa-envelope fa-xl"></i></li>
          </a>
        </ul>
      </aside>
    </main>
  <footer class="homeFooter">
    <div class="bounce">
      <p>About</p>
      <a href=""><img src="../assets/images/icons/arrow-down-white.png" alt="Scroll Down"></a>
    </div>
  </footer>