<section class="projects-detail" *ngIf="!isProjectInvalid()" [@fadeIn]>
    <div class="content-detail">
        <div class="content-top">
            <div class="overview">
                <h1>{{ activatedProject.name }}</h1>
                <h3 class="sub-title">Overview</h3>
                <p *ngFor="let paragraph of activatedProject.description">{{ paragraph }}</p>
            </div>
            <div class="cardImage">
                <img src='{{ activatedProject.imageURL }}' alt="Project Cover">
            </div>
        </div>
        <div class="content-bottom">
            <div class="demo-code">
                <h3 class="sub-title">Demo & Source Code</h3>
                <div>
                    <a class="demo" href="https://ricardoliveira5ro.github.io/" target="_blank" rel="noopener noreferrer">Live Demo</a>
                    <a class="code" href="https://github.com/ricardoliveira5ro/ricardoliveira5ro.github.io" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-github"></i>
                        Repository
                    </a>
                </div>
            </div>
            <div class="technologies">
                <h3 class="sub-title">Technologies</h3>
                <ol>
                    <li *ngFor="let tech of activatedProject.technologies">
                        <img src='{{tech.imageURL}}' alt='{{tech.title}}'>  
                        <span>{{tech.title}}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>