.projects-detail {
    @apply flex flex-col min-h-[var(--app-height)] items-center;
}

.content-detail {
    @apply flex flex-1 flex-col;
}

.content-top {
    @apply flex w-fit h-fit justify-center px-12 pt-12;
}

.overview {
    @apply max-w-[750px] mr-20;
}

.overview h1 {
    font-family: 'Bebas Neue', cursive;
    @apply text-[#E5C34D] text-5xl mb-5;
}

.sub-title {
    font-family: 'Libre Caslon Text', serif;
    @apply text-white text-xl underline decoration-[#E5C34D] pb-2;
}

.overview p {
    font-family: 'Montserrat', sans-serif;
    @apply text-white text-sm text-justify pb-2;
}

.cardImage {
    @apply max-w-[500px] mt-20 rounded-xl h-fit w-fit border
}

.cardImage img {
    @apply rounded-xl;
}

.content-bottom {
    @apply flex w-full pt-10 px-12;
}

.demo-code {
    @apply flex flex-col mr-16;
}

.demo-code div {
    @apply pt-1;
}

.demo {
    @apply bg-[#E5C34D] text-white text-[15px] font-medium px-2.5 py-1.5 rounded mr-3;
}

.code {
    @apply bg-[#C1C1C1] text-[15px] font-medium px-2.5 py-1.5 rounded;
}

.technologies {
    @apply flex flex-col;
}

.technologies ol {
    @apply flex flex-row justify-center;
}

.technologies li {
    @apply flex flex-col items-center px-1.5;
}

.technologies img {
    @apply flex w-fit max-w-[35px];
}

.technologies span {
    font-family: 'Montserrat', sans-serif;
    @apply text-white text-sm;
}