.bottomDiv {
    @apply flex justify-center items-end pb-5;
}

.bottomMid {
    @apply w-10/12 flex flex-col items-center; 
}

.bottomMid a {
    @apply flex justify-center w-fit;
}

.bottomMid p{
    font-family: 'Cormorant SC', serif;
    @apply text-white text-2xl text-center;
}

.bottomMid img {
    @apply max-w-[30px]
}

.bottomLeft {
    @apply w-1/12; 
}

.bottomRight {
    @apply w-1/12 flex flex-col justify-center items-center; 
}

.bottomRight a{
    @apply flex flex-col items-center; 
}

.bottomRight p{
    font-family: 'Cormorant SC', serif;
    @apply text-[#E5C34D] text-xl pt-2;
}

.bounce {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@media (max-width: 720px) {
    .bottomRight {
        @apply pr-6;
    }
}

@media (max-width: 600px) {
    .bottomRight a {
        @apply hidden;
    }
}

@media (min-width: 1900px) and (min-height: 1000px) {
    .bottomMid p {
        @apply text-[32px] pb-2;
    }
    
    .bottomMid img {
        @apply max-w-[40px]
    }

    .bottomRight p {
        @apply text-[32px] mb-4
    }

    .bottomRight i {
        font-size: 32px;
        @apply mb-2
    }
}