<div class="bottomDiv">
    <div class="bottomLeft"></div>
    <div class="bounce bottomMid">
        <a (click)="navigateSection()"><p>{{ nextSection }}</p></a>
        <a (click)="navigateSection()"><img src="https://ik.imagekit.io/ricardo5ro/icons/down-arrow.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820126" alt="Scroll Down"></a>
    </div>
    <div class="bottomRight">
        <a (click)="home()"><i class="fa-solid fa-angles-up fa-xl" style="color: #E5C34D;"></i>
            <p>Top</p>
        </a>
    </div>
</div>