.home {
    @apply flex flex-col min-h-[var(--app-height)];
}

.header {   
    @apply flex justify-between flex-wrap w-full items-center top-0 p-10;
}

.navbar a{
    font-family: 'Cormorant SC', serif;
    transition: 0.2s ease;
    text-decoration: none;
    @apply text-white text-3xl mx-10;
}
.navbar a:hover {
    border-top: 4px solid #E5C34D;
    border-bottom: 4px solid #E5C34D;
}

.navbar button {
    @apply hidden;
    -webkit-tap-highlight-color: transparent;
}

.side-menu{
    @apply fixed z-40 h-full w-56 bg-[#262828] flex flex-col justify-between;
}

.side-menu-options {
    @apply flex items-center;
}

.side-menu-options ul{
    @apply flex flex-col items-start w-full pl-7 pt-7;
}

.side-menu-options a {
    @apply w-fit mb-5;
}

.side-menu-options span {
    font-family: 'Cormorant SC', serif;
    @apply text-white text-2xl;
}

.side-menu-options img {
    @apply inline-flex mr-3 mb-[3px];
}

.side-menu-socials {
    @apply flex items-center justify-end pb-10;
}

.side-menu-socials ul {
    @apply bg-[#B2B2B2] flex flex-col items-center rounded-l-[20px] m-0 p-0;
    list-style: none;
}

.side-menu-socials a {
    @apply px-4 py-6 rounded-l-[20px] w-full;
    transition: 0.4s ease;
    text-decoration: none;
}

.side-menu-socials a:hover {
    @apply bg-[#E5C34D];
}

.side-menu-socials a:nth-of-type(1) {
    @apply px-4 py-6 rounded-bl-[0px] w-full;
}
.side-menu-socials a:nth-of-type(2) {
    @apply px-4 py-6 rounded-l-[0px] w-full;
}
.side-menu-socials a:nth-of-type(3) {
    @apply px-4 py-6 rounded-tl-[0px] w-full;
}

.homeMain {
    @apply w-full flex flex-1 pt-10;
}

.homeLeftDiv {
    @apply w-1/12;
}

.homeCenterContent {
    @apply w-10/12;
}

.homeTextDiv {
    @apply flex items-center justify-center;
}

.homeTextDiv div{
    @apply pr-8;
}

.presentationText {
    font-family: 'Libre Caslon Text', serif;
    @apply text-white text-xl;
}

.nameText {
    font-family: 'Bebas Neue', cursive;
    @apply text-[#E5C34D] text-[55px];
}

.sofwareEngineerText {
    font-family: 'Iceland', cursive;
    @apply text-white text-[25px];
}

.homeSlogan {
    @apply text-center pt-6;
}

.homeSlogan p{
    font-family: 'Bebas Neue', cursive;
    @apply text-[#626262] text-[45px];
}

.homeSocials {
    @apply w-1/12 flex items-center justify-end;
}

.socialsList {
    @apply bg-white flex flex-col items-center rounded-l-[20px] m-0 p-0;
    list-style: none;
}

.socialsList a {
    @apply px-4 py-6 rounded-l-[20px] w-full;
    transition: 0.4s ease;
    text-decoration: none;
}

.socialsList a:hover {
    @apply bg-[#E5C34D];
}

.socialsList a:nth-of-type(1) {
    @apply px-4 py-6 rounded-bl-[0px] w-full;
}
.socialsList a:nth-of-type(2) {
    @apply px-4 py-6 rounded-l-[0px] w-full;
}
.socialsList a:nth-of-type(3) {
    @apply px-4 py-6 rounded-tl-[0px] w-full;
}

.homeFooter {
    @apply flex justify-center items-end pb-5;
}

.homeFooter a {
    @apply flex justify-center;
}

.homeFooter p{
    font-family: 'Cormorant SC', serif;
    @apply text-white text-2xl text-center;
}

.bounce {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
