<section id="homeSection" class="home" (click)="closeModal($event)" [@fadeIn]>
    <div id="side" class="side">
        <div class="side-menu slide-left">
            <div class="side-menu-options">
                <ul>
                    <a (click)="goToSection(1)">
                        <li><img src="https://ik.imagekit.io/ricardo5ro/icons/right-arrow.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820305"
                                alt="Experience section"><span>Experience</span>
                        </li>
                    </a>
                    <a (click)="goToSection(2)">
                        <li><img src="https://ik.imagekit.io/ricardo5ro/icons/right-arrow.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820305" alt="Projects section"><span>Projects</span>
                        </li>
                    </a>
                    <a (click)="goToSection(3)">
                        <li><img src="https://ik.imagekit.io/ricardo5ro/icons/right-arrow.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820305" alt="About section"><span>About</span>
                        </li>
                    </a>
                    <a (click)="goToSection(4)">
                        <li><img src="https://ik.imagekit.io/ricardo5ro/icons/right-arrow.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820305" alt="Contact section"><span>Contact</span>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="side-menu-socials">
                <ul>
                    <a href="https://www.linkedin.com/in/ricardo5oliveira" target="_blank" rel="noopener noreferrer">
                        <li><i class="fa-brands fa-linkedin fa-xl"></i></li>
                    </a>
                    <a href="https://github.com/ricardoliveira5ro" target="_blank" rel="noopener noreferrer">
                        <li><i class="fa-brands fa-github fa-xl"></i></li>
                    </a>
                    <a href="mailto:ricardoliveira5ro@gmail.com" target="_blank" rel="noopener noreferrer">
                        <li><i class="fa-solid fa-envelope fa-xl"></i></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <header class="header">
        <img class="logo" src="https://ik.imagekit.io/ricardo5ro/logo/100w.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820170" alt="Ricardo's Logo">
        <nav class="navbar">
            <a (click)="goToSection(1)">Experience</a>
            <a (click)="goToSection(2)">Projects</a>
            <a (click)="goToSection(3)">About</a>
            <a (click)="goToSection(4)">Contact</a>
            <button type="button" (click)="sideMenu()"><img class="menuIcon" src="https://ik.imagekit.io/ricardo5ro/icons/menu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820197"></button>
        </nav>
    </header>
    <main class="homeMain">
        <div class="homeLeftDiv"></div>
        <article class="homeCenterContent">
            <div class="homeTextDiv">
                <div>
                    <p class="presentationText">Hello, I'm</p>
                    <p class="nameText">Ricardo Oliveira</p>
                    <p class="sofwareEngineerText">isSoftwareEngineer()</p>
                </div>
                <img class="homeImg" src="https://ik.imagekit.io/ricardo5ro/general/home.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820480" alt="Home Design">
            </div>
            <section class="homeSlogan">
                <p>&#60; A Programmer that turns coffee into code /&#62;</p>
            </section>
        </article>
        <aside class="homeSocials">
            <ul class="socialsList">
                <a href="https://www.linkedin.com/in/ricardo5oliveira" target="_blank" rel="noopener noreferrer">
                    <li><i class="fa-brands fa-linkedin fa-xl"></i></li>
                </a>
                <a href="https://github.com/ricardoliveira5ro" target="_blank" rel="noopener noreferrer">
                    <li><i class="fa-brands fa-github fa-xl"></i></li>
                </a>
                <a href="mailto:ricardoliveira5ro@gmail.com" target="_blank" rel="noopener noreferrer">
                    <li><i class="fa-solid fa-envelope fa-xl"></i></li>
                </a>
            </ul>
        </aside>
    </main>
    <footer class="homeFooter">
        <div class="bounce">
            <a (click)="nextSection()"><p>Experience</p></a>
            <a (click)="nextSection()"><img src="https://ik.imagekit.io/ricardo5ro/icons/down-arrow.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676159820126" alt="Scroll Down"></a>
        </div>
    </footer>
</section>