<section id="homeSection" class="home">
    <header class="header">
        <img class="logo" src="../../assets/images/logo/100w.png" alt="Ricardo's Logo">
        <nav class="navbar">
            <a href="#AboutSection">About</a>
            <a href="#">Experience</a>
            <a href="#">Projects</a>
            <a href="#">Contacts</a>
            <button type="button" data-drawer-target="side-menu" data-drawer-show="side-menu"
                data-drawer-placement="right" aria-controls="side-menu"><img
                    src="../../assets/images/icons/menu.png"></button>
        </nav>
        <div id="side-menu" class="side-menu" tabindex="-1">
            <div class="side-menu-options">
                <ul>
                    <a href="#">
                        <li><img src="../../assets/images/icons/right-arrow.png" alt="List bullet"><span>About</span></li>
                    </a>
                    <a href="#">
                        <li><img src="../../assets/images/icons/right-arrow.png" alt="List bullet"><span>Experience</span>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="../../assets/images/icons/right-arrow.png" alt="List bullet"><span>Projects</span>
                        </li>
                    </a>
                    <a href="#">
                        <li><img src="../../assets/images/icons/right-arrow.png" alt="List bullet"><span>Contacts</span>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="side-menu-socials">
                <ul>
                    <a href="https://www.linkedin.com/in/ricardo5oliveira" target="_blank" rel="noopener noreferrer">
                        <li><i class="fa-brands fa-linkedin fa-xl"></i></li>
                    </a>
                    <a href="https://github.com/ricardoliveira5ro" target="_blank" rel="noopener noreferrer">
                        <li><i class="fa-brands fa-github fa-xl"></i></li>
                    </a>
                    <a href="mailto:ricardoliveira5ro@gmail.com" target="_blank" rel="noopener noreferrer">
                        <li><i class="fa-solid fa-envelope fa-xl"></i></li>
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <main class="homeMain">
        <div class="homeLeftDiv"></div>
        <article class="homeCenterContent">
            <div class="homeTextDiv">
                <div>
                    <p class="presentationText">Hello, I'm</p>
                    <p class="nameText">Ricardo Oliveira</p>
                    <p class="sofwareEngineerText">isSoftwareEngineer()</p>
                </div>
                <img class="homeImg" src="../../assets/images/general/home_200w.png" alt="Home Design">
            </div>
            <section class="homeSlogan">
                <p>&#60; A Programmer that turns coffee into code /&#62;</p>
            </section>
        </article>
        <aside class="homeSocials">
            <ul class="socialsList">
                <a href="https://www.linkedin.com/in/ricardo5oliveira" target="_blank" rel="noopener noreferrer">
                    <li><i class="fa-brands fa-linkedin fa-xl"></i></li>
                </a>
                <a href="https://github.com/ricardoliveira5ro" target="_blank" rel="noopener noreferrer">
                    <li><i class="fa-brands fa-github fa-xl"></i></li>
                </a>
                <a href="mailto:ricardoliveira5ro@gmail.com" target="_blank" rel="noopener noreferrer">
                    <li><i class="fa-solid fa-envelope fa-xl"></i></li>
                </a>
            </ul>
        </aside>
    </main>
    <footer class="homeFooter">
        <div class="bounce">
            <p>About</p>
            <a href="#AboutSection"><img src="../../assets/images/icons/down-arrow.png" alt="Scroll Down"></a>
        </div>
    </footer>
</section>